.header-container {
  & .app-header {
    height: 150px;
    margin: auto;
    justify-content: flex-end;
    & .nav-list {
      gap: 20px;
      & .nav-item {
        letter-spacing: 1px;
        font-size: 1.125rem;
        cursor: pointer;
        &:hover {
          color: whitesmoke;
        }
      }
    }
  }

  @media (max-width: 560px) {
    max-width: 560px;
    & .app-header {
      justify-content: center;
      & .nav-list {
        gap: 70px;
      }
    }
  }

  @media (max-width: 991.98px) {
    max-width: 991.98px;
    & .app-header {
      margin-inline: 80px;
    }
  }

  @media (min-width: 1200px) {
    & .app-header {
      max-width: 1200px;
    }
  }
}

.active-link {
  color: whitesmoke;
}
