// COLOR PALETTE
$clr1: #ce2e6c;
$clr3: #ffb5b5;
$clr2: #504658;
$clr4: #f0decb;
$clr5: #fff;

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break1: 575.98px;
$break2: 767.98px;
$break3: 991.98px;
$break4: 1199.98px;
